/* index.css */

body {
    margin: 0;
    min-height: 100vh;
    background: url(../img/dsm7_01.jpg) no-repeat center fixed;
    background-size: cover;
}
.submit-kakao {
    font-size: 14px;
    border: none;
    padding: 10px;
    width: 100%;
    background-color: #FEE500;
    margin-bottom: 10px;
    background-image: url(../img/kakaosymbol.png);
    background-repeat: no-repeat;
    background-position: 65px center;
    border-radius: 5px;
}
.submit-kakao:hover {
    background-color: white;
    box-shadow: 0px 0px 1px 1px #FEE500;
    transition: 300ms;
    border-radius: 10px;
}
.submit-google {
    font-size: 14px;
    border: none;
    padding: 10px;
    width: 100%;
    background-color: #4285F4;
    margin-bottom: 10px;
    background-image: url(../img/google.png);
    background-repeat: no-repeat;
    background-position: 65px center;
    color: white;
    border-radius: 5px;
}

.submit-google:hover {
    background-color: white;
    color: #4285F4;
    box-shadow: 0px 0px 1px 1px #4285F4;
    transition: 300ms;
    border-radius: 10px;
}

.tab-panel {
    position: absolute;
    top: 23.2%;
    right: 19.2%;
    width: 400px;
    min-height: 500px;
    padding: 0px 40px 22px 40px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    border-radius: 6px;
    float: right;
    align: center;
}

.login-title {
    font-family: Verdana, Arial, sans-serif;
    display: block;
    line-height: 32px;
    font-size: 22px;
    color: #057feb;
    width: 100%;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    padding: 11px 0 25px 0;
}

.tab-label.active {
    padding: 0px 8px;
    font-size: 13px;
    line-height: 48px;
    height: 48px;
    display: inline-block;
    border-top: 3px solid #057feb;
    width: 54px;
}

.title {
    font-size: 18px;
    color: #414b55;
    line-height: 28px;
    margin-bottom: 22px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    padding: 10px 0 20px 0;
}

.text-field {
    font-size: 14px;
    padding: 10px;
    border: none;
    width: 315px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline-color : #057feb;
    transition: 300ms;
}
.text-field:focus {
    outline: 1px solid #057feb;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px #057feb;
    transition: 300ms;
}

.submit-btn {
    font-size: 14px;
    border: none;
    padding: 10px;
    width: 100%;
    background-color: #057feb;
    margin-bottom: 10px;
    color: white;
    transition: 300ms;
    border-radius: 5px;
}
.submit-btn:hover {
    background-color: white;
    color: #057feb;
    box-shadow: 0px 0px 1px 1px #057feb;
    transition: 300ms;
    border-radius: 10px;
}


.links {
    text-indent: 85px;
}

.links a {
    font-size: 12px;
    color: #9B9B9B;
    text-align: center;
}

.divider {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

.divider::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #C2C7D0;
    position: absolute;
    top: 9px;
    left: 0;
}

.divider span {
    padding: 0 10px;
    background-color: #FFF;
    z-index: 2;
    position: relative;
}